body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    color: #333;
    background-color: rgba(238, 240, 157, 1.0);
    line-height: 1.6;
}

header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(238, 184, 119, 0.9);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbar .home-button {
    background-color: rgba(243, 174, 86, 0.9);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.hero {
    background: url('./images/hero.jpg') no-repeat center center/cover;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-center {
    background-color: rgba(243, 174, 86, 0.8);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.story {
    padding: 0px 5% 0px 5%;
}

.story img {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

section {
    padding: 40px 20px;
    scroll-margin-top: 15px;
}

section h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(243, 174, 86, 0.8);
}

.details-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: rgb(244, 236, 190);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.faq-item {
    padding: 0px 5% 0px 5%;
}

footer {
    text-align: center;
    background-color: rgba(187, 170, 85, 1.0);
    color: white;
    padding: 10px;
}
