body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/background.png");
    font-family: "Cormorant Garamond", serif;
    overflow: hidden;
}

.text-container {
    text-align: center;
    color: black;
    position: relative;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

h1 {
    font-size: min(5vh, 5vw);
    text-wrap: nowrap;
}

h2 {
    font-size: min(3vh, 3vw);
}

h3 {
    font-size: min(2.5vh, 2.5vw);
}

.bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: max(22.5vw, 22.5vh);
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: max(22.5vw, 22.5vh);
}

.top-bar {
    position: absolute;
    top: 0.5vh;
    height: 5vh;
}

.extra-top-bar {
    position: absolute;
    bottom: 77.5vh;
    height: 5vh;
}

.top-item {
    background-color: #cfd1b5;
    border: none;
    border-radius: 15px;
    padding: min(2vh, 2vw) min(2vh, 2vw);
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: min(2vh, 2vw);
}
.top-item:hover {
    background-color: #d8d8ce;
}
.top-item:active {
    background-color: #878976;
}

.lakeside-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.lakeside-icon {
    width: 2vw;
    min-width: 30px;
    max-width: 225px;
    padding-left: 2%;
    padding-right: 2%;
    filter: brightness(0);
}

.venue-picture-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    overflow: hidden;
    border-radius: 100px;
}

.venue-picture {
    width: 30vw;
    min-width: 300px;
    max-width: 1250px;
    padding-left: 2%;
    padding-right: 2%;
}

.screen {
    position: absolute;
    top: 10vh;
    left: 0px;
    opacity: 0;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hotels-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hotel-item {
    display: flex;
    flex-direction: row;
    background-color: #cfd1b5;
    width: max(40vw, 40vh);
    height: min(15vw, 15vh);
    align-items: center;
    margin: 2vh 0vh;
    border: none;
    border-radius: 15px;
}

.hotel-image {
    width: max(10vw, 10vh);
    height: min(15vw, 15vh);
    object-fit: cover;
    padding-right: 1vw;
    border: none;
    border-radius: 15px;
}

.hotel-icon {
    width: 2vw;
    min-width: 20px;
    max-width: 225px;
    padding-left: 0.5vw;
    filter: brightness(0);
}
.hotel-icon:hover {
    filter: brightness(0.75);
}

.hotel-text {
    width: max(21vw, 21vh)
}

.faq-holder {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: min(1vh, 1vw);
}

.faq-container {
    text-align: center;
    color: black;
    position: relative;
    width: min(70vw, 70vh);
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #cfd1b5;
    border: none;
    border-radius: 15px;
}

.registry-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registry-item {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width: max(40vw, 40vh);
    height: min(15vw, 15vh);
    align-items: center;
    object-fit: contain;
    margin: 2vh 0vh;
    border: none;
    border-radius: 15px;
}

.photos-view {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photo-arrow {
  width: 50px;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.photo-item {
  width: 60vw;
  height: 60vh;
  object-fit: contain;
}

